body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: 'Poppins', sans-serif;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 9%;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.back-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.watch-frame {
  width: 260px;
  height: 300px;
  border: 8px solid #000;
  border-radius: 80px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  background: #acda7c;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17.5%;
  background: #F4EDC8;
  color: #4b3721;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 6px 0;
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  flex: 1;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-button {
  background-color: #995D29;
  border: none;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.animal-button:hover,
.animal-button:focus {
  transform: scale(1.1);
  outline: none;
}

.animal-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #634522;
  margin-bottom: 8px;
}

.animal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animal-name {
  color: #F4EDC8;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
